html {
  font-family: 'Open Sans', sans-serif;
  background-color: #b0e0e6;
}

body {
  width: 800px;
  margin: 0 auto;
  background-color: #afeeee;
  padding: 20px 20px 20px 20px;
  border: 3px solid #f5fffa;
}

h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

p, li {
  line-height: 2;
  letter-spacing: 1px;
  color: #191970;
}

a {
  color: black;
  text-decoration: none;
}
